<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Edit User</li>
  </ol>
</nav>
{{#each rows}}
<form class="row g-3" method="POST" action="/edituser/{{this.id}}">
{{> form}}
</form>
{{/each}}